{{- $query := first 1 (where .Context.Site.Pages "Layout" "==" "archives") -}}
{{- if $query -}}
    {{- $archivesPage := index $query 0 -}}
    <section class="widget archives">
        <div class="widget-icon">
            {{ partial "helper/icon" "infinity" }}
        </div>
        <h2 class="widget-title section-title">{{ T "widget.archives.title" }}</h2>

        <div class="widget-archive--list">
            <div class="archives-year">
                <a href="{{ $archivesPage.RelPermalink }}">
                    <span class="year">{{ T "widget.archives.more" }}</span>
                </a>
            </div>
        </div>
    </section>
{{- else -}}
    {{- warnf "Archives page not found. Create a page with layout: archives." -}}
{{- end -}}
