.media {
  margin: 0.75rem 0;
}

.media--video {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.media--image {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.media img {
  display: block;
  width: 100%;
  height: auto;
}

// add by ys4i caption用
.img-figure figcaption {
  font-size: 0.8rem;
  text-align: right;
  margin-right: 1rem;
  line-height: 0rem;
}

.embed-16x9 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-16x9 iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// project用のタイル風css
.template-projects-list {
  .article-list--tile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
  }
  .article-list--tile article {
    width: 100%;
  }
}
